.caption {
font-size: smaller;
     }

figure {
    display: inline-block;
    text-align: center;
}
figure img {
    vertical-align: top;
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
figure figcaption {
    text-align: center;
    color: grey;
}

.div-wrapper figure img {
    position: absolute;
    left: 0;
    bottom: 0;
}